.container{
  width: 100%;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.task-card {
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
