.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .container__email-input,
  button {
    width: 100%;
  }
  .container__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
}
